$text-color: #9196AC; 
$white-color: #FAFAFA !global;
$href-color: #1199DD;
$bg-buttons: #1199DD;
$bg-buttons-hover: #55c3fa;
$bg-screen: #F1F2F5;
$title-header-color: #515163;
$title-list-color: #767E92; 
$bg-list-alter: #f5f6f8;

$font-family: 'Fira Sans', sans-serif;

%shadow{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}